{%extends "plantilla.html"%}{%block tittle%}Editar{%endblock%} {%block content%}


<h2>Escribe una nueva Entrada del Blog</h2>

<form class="login_form" action="" method="post">
    <label for="titulo">"Titulo"</label>
    <input type="text" name="titulo" placeholder="Titulo"></input>
    </p>
    <label for="texto">Texto</label>
    <br>
    <textarea name="texto" rows="15" cols="60"></textarea>
    </p>
    <p>
        <button type="submit" value="">Editar</button>
    </p>
</form>





<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore nisi veniam eius suscipit, illo, rem ducimus animi amet eum modi neque delectus saepe? Adipisci aperiam laboriosam hic asperiores incidunt necessitatibus.</p>
{%endblock%}{%block pie%}{%endblock%}