{%extends "index.html" %} 
{%block content%} 
    
<h1 class="titulo2"> Depresión </h1>
<br>
<p class="texto">  La depresión es un trastorno mental caracterizado fundamentalmente por un bajo estado de ánimo y sentimientos de tristeza, asociados a alteraciones del comportamiento, del grado de actividad y del pensamiento.
    <br>
    Supone una de las patologías más frecuentes en Atención Primaria y es la primera causa de atención psiquiátrica y de discapacidad derivada de problemas mentales.
    <br>
    Aparece con más frecuencia en mujeres y en personas menores de 45 años. 
    <br>
    El tratamiento con psicofármacos y/o psicoterapia, consiguen, en la mayoría de los casos, aliviar parcialmente o en su totalidad los síntomas. Una vez se han superado los síntomas de la depresión, convendrá seguir bajo tratamiento antidepresivo el tiempo necesario para evitar posibles recaídas. En algunos casos, el tratamiento deberá prolongarse de por vida.
    <br>
</p>    
    <br>
    <h2 class="titulo2">¿Cuáles son los síntomas de la depresión?</h2>
    <br>
    <p class="texto"> Los síntomas nucleares de la depresión son la tristeza patológica, la pérdida de interés y de la capacidad de disfrutar y una disminución de la vitalidad que limita el nivel de actividad y produce un cansancio exagerado, que aparece incluso después de realizar pequeños esfuerzos.
        <br>
        Además, pueden aparecer otros síntomas, como los sentimientos de culpa o de incapacidad, la irritabilidad, el pesimismo ante el futuro, las ideas de muerte o de suicidio, la pérdida de confianza en uno mismo o en los demás, la disminución de la concentración y la memoria, la intranquilidad, los trastornos del sueño y la disminución del apetito y de la libido, entre otros.
    </p>
    <br>
    <h3 class="texto"><strong>Los síntomas más habituales son:</strong></h3>
    <br>
    <lu class="texto">
        <li>Tristeza patológica.</li>
        <li>Pérdida de interés.</li>
        <li>Disminución de la vitalidad.</li>
        <li>Cansancio exagerado.s</li>
    </lu>

{%endblock%} 